# PostgreSQL (banco do Monolito Core)
POSTGRES_DB=coleta_premiada
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# RabbitMQ (fila de mensagens)
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# MinIO (armazenamento de fotos)
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_senha_local

# Django
DJANGO_SECRET_KEY=colocar_chave_do_django_aqui
DEBUG=True

# Nominatim (geocodificação)
NOMINATIM_USER_AGENT="coleta-premiada/1.0 (youremail@example.com)"