# Arquivos de ambiente
.env
.env.example

# Python
__pycache__/
*.pyc
*.log
.venv/
venv

# Node.js
node_modules/

# Django
staticfiles/
db.sqlite3

# jetbrains ide's
.idea

# celery
core/celerybeat-schedule